<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--输出器、追加器-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--描述日志输出格式-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--debug级别及以上的日志信息使用以下输出器-->
    <root level="debug">
        <appender-ref ref="console" />
    </root>
</configuration>